@font-face {
	font-family: 'Wolgadeutsche';
	src: url('./../img/fonts/Wolgadeutsche.otf');
}

@font-face {
	font-family: 'MedievalSharp';
	src: url('./../img/fonts/MedievalSharp.ttf');
}

@font-face {
	font-family: 'MedievalSharp-Bold';
	src: url('./../img/fonts/MedievalSharp-Bold.ttf');
}

@font-face {
	font-family: 'MedievalSharp-BoldOblique';
	src: url('./../../img/fonts/MedievalSharp-BoldOblique.ttf');
}

@font-face {
	font-family: 'MedievalSharp-Oblique';
	src: url('./../../img/fonts/MedievalSharp-Oblique.ttf');
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'MedievalSharp';
	// font-family: 'MedievalSharp-Bold';
	// font-family: 'MedievalSharp-BoldOblique';
	// font-family: 'MedievalSharp-Oblique';
	// background-color: var(--page-bg);
	// color: var(--text-color);
    // font-family: var(--font-main);
	// font-family: 'Wolgadeutsche';
}

/* Custom scrollbar */

body::-webkit-scrollbar {
    background: rgb(62, 62, 62);
    width: 8px;
    height: 6px;
}

body::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #970202;
}

main {
	background-color: rgb(62, 62, 62);
	color: #fff;
}

.section {
	display: flex;
	flex-direction: column;
	padding: 60px 0 20px;

	@media (max-width: 1200px) {
		padding-top: 50px;
	}

	@media (max-width: 767px) {
		padding: 40px 0 10px;
	}
}

h1 {
	font-family: 'Wolgadeutsche';
}

h2 {
	text-align: center;
	padding-bottom: 20px;

	font-family: 'MedievalSharp-Bold';
	font-size: 5vw;
	font-weight: 700;
    letter-spacing: .4vw;

	@media (max-width: 1200px) {
		font-size: 6.5vw;
	}

	@media (max-width: 767px) {
		font-size: 8vw;
	}
}

h3 {
	font-family: 'MedievalSharp-Bold';
	font-size: 2.5vw;
	font-weight: 700;
    letter-spacing: .4vw;

	padding-bottom: 20px;

	@media (max-width: 1200px) {
		font-size: 4vw;
	}

	@media (max-width: 767px) {
		font-size: 5vw;
		padding-bottom: 10px;
	}
}
