@font-face {
	font-family: 'Wolgadeutsche';
	src: url('./../img/fonts/Wolgadeutsche.otf');
}

@font-face {
	font-family: 'MedievalSharp';
	src: url('./../img/fonts/MedievalSharp.ttf');
}

@font-face {
	font-family: 'MedievalSharp-Bold';
	src: url('./../img/fonts/MedievalSharp-Bold.ttf');
}

@font-face {
	font-family: 'MedievalSharp-Oblique';
	src: url('./../img/fonts/MedievalSharp-Oblique.ttf');
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'MedievalSharp';
	font-size: 18px;
}

/* Custom scrollbar */

body::-webkit-scrollbar {
    background: rgb(62, 62, 62);
    width: 8px;
    height: 6px;
}

body::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #970202;
}

main {
	position: relative;
	min-height:  100vh; 

	background-color: #5f3636;
	color: #fff;
}

.back__logo {
	position: fixed;
	right:  20px; 
	bottom:  50px;

	width: 80px;
	rotate: 180deg;
}

/* Скрыть иконку при наведении */
.back__logo .hover-icon {
    display: none;
}

/* Показать иконку при наведении и скрыть обычную */
.back__logo:hover .default-icon {
    display: none;
}
.back__logo:hover .hover-icon {
    display: inline;
}

.section {
	display: flex;
	flex-direction: column;
	padding: 60px 0 20px;

	@media (max-width: 1200px) {
		padding-top: 50px;
	}

	@media (max-width: 767px) {
		padding: 40px 0 10px;
	}
}

h1 {
	font-family: 'Wolgadeutsche';
}

h2 {
	text-align: center;
	padding-bottom: 20px;

	font-family: 'MedievalSharp-Bold';
	font-size: 5vw;
	font-weight: 700;
    letter-spacing: .4vw;

	@media (max-width: 1200px) {
		font-size: 6.5vw;
	}

	@media (max-width: 767px) {
		font-size: 8vw;
	}
}

h3 {
	font-family: 'MedievalSharp-Bold';
	font-size: 2.5vw;
	font-weight: 700;
    letter-spacing: .4vw;

	padding-bottom: 20px;

	@media (max-width: 1200px) {
		font-size: 4vw;
	}

	@media (max-width: 767px) {
		font-size: 5vw;
		padding-bottom: 10px;
	}
}

h4 {
	font-family: 'MedievalSharp-Bold';
	font-size: 1.5vw;
	font-weight: 700;
    letter-spacing: .2vw;

	padding-bottom: 10px;

	@media (max-width: 1200px) {
		font-size: 2vw;
	}

	@media (max-width: 767px) {
		font-size: 2.5vw;
	}
}

h5 {
	font-family: 'MedievalSharp-Oblique';
	text-align: right;
	// padding: 20px 0 30px;
	margin-bottom: 50px;
}

p {
	margin-bottom: 10px;
}
