.section__nature {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}

.description__fauna {
    width: 80%;
    padding-bottom: 30px;

    p {
      text-indent: 3%;
    }

    @media (max-width: 767px) {
		width: 80%;
	}
}

.description__flora {
    width: 60%;
    padding-bottom: 30px;
    text-align: right;
    margin-left: auto;

    @media (max-width: 767px) {
		width: 80%;
	}
}

.description__races {
    width: 60%;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 767px) {
		width: 80%;
	}
}