.section__nature {
    padding-bottom: 20px;
}

.description__fauna {
    width: 60%;
    padding-bottom: 40px;

    @media (max-width: 767px) {
		width: 80%;
	}
}

.description__flora {
    width: 60%;
    text-align: right;
    margin-left: auto;

    @media (max-width: 767px) {
		width: 80%;
	}
}

.description__races {
    width: 60%;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 767px) {
		width: 80%;
	}
}