.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.nav__logo {
}
.nav__list {
    @media (max-width: 1200px) {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        column-gap: 80px;

        font-weight: 600;
        font-size: 26px;
        line-height: 1.22;
    }
}

.nav__list a {
    position: relative;

    &:hover {
        color: #970202;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: -4px;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover::before {
        transform-origin: right;
        transform: scaleX(1);

        background: #970202;
    }
}

.nav__mobile-nav {
}
.nav-btn {
}