.slide {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #555;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &-first {
        background-image: url(./img/slider-bg/1.jpg);
    }

    &-second {
        background-image: url(./img/slider-bg/2.jpg);
    }

    &-third {
        background-image: url(./img/slider-bg/3.jpg);
    }

    &-fourth {
        background-image: url(./img/slider-bg/4.jpg);
    }

    color: #fff;

    &::before {
        content: '';
    }

    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    @media (max-width: 1200px) {
		padding-bottom: 60px;
	}

	@media (max-width: 767px) {
		padding-top: 100px;
		padding-bottom: 40px;
	}
}

.slide__header {
    text-align: center;
}
.slide__tagline {
    // font-size: 30px;
    font-size: 1.56vw;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: .55em;
    opacity: 0.7;

    @media (max-width: 767px) {
		font-size: 3vw;
	}
}

.slide__title {
    // font-size: 250px;
    font-size: 13vw;
    font-weight: 700;
    line-height: 1.22; 
    letter-spacing: .5vw; 

    // background: linear-gradient(
    //     0deg, 
    //     #060000 20%,
    //     #970202,
    //     #f7f4f4 
    //     );

    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    // background-clip: text;
    // text-fill-color: transparent;

    @media (max-width: 767px) {
		font-size: 19vw;
	}
}

.slide__locations {
    display: flex;
    width: 30%;
    margin: 0 auto;

    @media (max-width: 767px) {
        width: 50%;
	}
}